body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table{
    padding:20px;
    width: 900px;
    border-collapse: collapse;
}
td{
    text-align: left;
}
th{
    text-align: left;
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
tr:hover{
    background-color: rgb(224, 92, 92);
}
td.preco, th.preco{
    text-align: right;
}